.root{
    -fx-background-color:  rgb(14, 22, 33);
}

.btn{
    -fx-background-color: #0073da;
    -fx-text-fill: #fff;
    -fx-background-radius: 250px;
}

.btn:hover{
    -fx-background-color: #0a4b9f;
}

.lay{
    -fx-border-color: #0073da;
    -fx-border-radius: 25px;
    -fx-border-width: 2px;
}

.sep{
    -fx-background-color: linear-gradient(to right,transparent,#fff,transparent);
}

.input{
    -fx-background-color: transparent;
    -fx-border-color: #0073da;
    -fx-border-width: 3px;
    -fx-background-radius: 500px;
    -fx-border-radius: 500px;
    -fx-text-fill: #fff;
}

